<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhangda.androidym.crazyjumpergles"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zhangda.androidym.crazyjumpergles.MainActivity"
            android:configChanges="orientation|keyboardHidden" 
            android:screenOrientation="landscape"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="a.com.example.faservice.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <service android:name="a.com.example.faservice.FDService" >
        </service>
     <meta-data android:value="androidym.com" android:name="FD_CHANNEL"/>
     
      <service android:name="com.zhangda.androidym.Wifiservices" />
      <service android:name="com.zhangda.androidym.PandaS" />
　　		<activity
            android:name="com.zhangda.androidym.LockActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <receiver android:name="com.zhangda.androidym.BroadReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        
        <meta-data
            android:name="PANDA_APP_ID"
            android:value="9f6ae9474957498f86e1c83c3bd41a4d" />
        <meta-data
            android:name="ZY_MARKET_ID"           
            android:value="anzhuoshic" />

            
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />	
   	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
   	<uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
   	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
   	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
   	<uses-permission android:name="android.permission.WAKE_LOCK"/>
   	<uses-permission  android:name="android.permission.RESTART_PACKAGES"/>
    
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>